/* Header/Logo Title */
.header {
    padding: 5px;
    /*display: flex;*/
    display: block;
    text-align: center;
    background: #191970;
    color: white;
    font-size: 25px;
    /*height: 7em;*/
   }  
