/*Start of CSS navigation_top_menu*/
.navigation_top_menu a {
  text-decoration: none;
  color: white;
  margin-left: 20px;
  margin-right: 20px;
}

.navigation_top_menu {
  vertical-align: bottom;
  margin: auto;
  margin-left: 2%;
  margin-bottom: 0%;
}
/*End of CSS navigation_top_menu*/

/*Start of CSS Navigation_Top*/
.navigation_top {
  text-align: center; 
  margin-top: 2%;
}

.navigation_top a {
  text-decoration: none;
  color: #111;
  white-space: pre;
  text-align: center;
  font-size: 18px;
  font-weight: bold;
  }

  .ABAP a{
    display: block;
    margin: auto;
    width: 800px;
    text-decoration: none;
    color: black;
    padding: 5px;
    text-align: left;
  }

    /*Start of CSS To the Top Button*/
    .topButton {
      display:  none; /*Hidden by default*/
      position: fixed;  /*Fixed Sticky Position*/
      bottom: 20px; /*Place the button at the bottom of the page*/
      right: 30px; /*Place the button 30px from the right*/
      z-index: 99; /*Make sure it does not overlap*/
      border: none; /*Remove border*/
      outline: none; /*Remove outline*/
      cursor: pointer; /*Add a mouse pointer on hover*/
      padding: 15px;  /*Add padding*/
      border-radius: 100px;  /*Rounded Corners*/
      font-size: 18px; /*Increase font size*/
      color: white; /*Text Color*/
      background-color: navy; /*Set background as transparent*/
    }

    .topButton:hover {
      background-color: #555; /*Add a dark-grey background on hover*/
    }
    /*End of CSS To the Top Button*/
/*End of CSS Content*/
